<div class="submissions-container">
  <h2>提交记录</h2>
  <mat-card class="assignment-info-card">
    <div *ngIf="assignment$ | async as assignment; else progressBar">
      <mat-card-title>
        {{assignment.getName()}}
      </mat-card-title>
      <mat-card-subtitle>
        #{{assignmentId}}
      </mat-card-subtitle>
      <mat-card-content>
        {{assignment.getDescription()}}
      </mat-card-content>
    </div>
    <ng-template #progressBar>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </ng-template>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <button (click)="openSubmissionDialog()" color="primary" mat-raised-button>
        <mat-icon>add</mat-icon>
        上传提交
      </button>
      <table class="submission-history-table" mat-table matSort multiTemplateDataRows>
        <ng-container matColumnDef="submissionId">
          <th *matHeaderCellDef i18n="submission-id" mat-header-cell>提交 ID</th>
          <td *matCellDef="let submission" mat-cell>{{submission.getSubmissionId()}}</td>
        </ng-container>
        <ng-container matColumnDef="submittedAt">
          <th *matHeaderCellDef i18n="submitted-at" mat-header-cell>提交时间</th>
          <td *matCellDef="let submission" mat-cell>{{submission.getSubmittedAt().toDate() | date:"YYYY-MM-dd HH:mm:ss" }}</td>
        </ng-container>
        <ng-container matColumnDef="score">
          <th *matHeaderCellDef i18n="score" mat-header-cell>得分</th>
          <td *matCellDef="let submission" mat-cell>
                  <span *ngIf="submission.getStatus() == 2"> {{submission.getScore()}}
                    /{{submission.getMaxScore()}}</span>
            <mat-progress-bar [mode]="submission.getStatus() == 4 ? 'buffer' : 'determinate'" [value]="submission.getScore()/submission.getMaxScore()*100"
                              class="score-bar">
            </mat-progress-bar>
          </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th *matHeaderCellDef i18n="status" mat-header-cell>状态</th>
          <td *matCellDef="let submission" mat-cell>{{submission.getStatus()}}</td>
        </ng-container>
        <ng-container matColumnDef="operations">
          <th *matHeaderCellDef i18n="operations" mat-header-cell>操作</th>
          <td *matCellDef="let submission" mat-cell>
            <button (click)="viewSubmissionReport(submission.getSubmissionId())" i18n="view" mat-icon-button>
              <mat-icon>description</mat-icon>
            </button>
            <button i18n="download" mat-icon-button>
              <mat-icon>download</mat-icon>
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="expandedDetail">
          <td *matCellDef="let submission" [attr.colspan]="columnsToDisplay.length" mat-cell>
            <div [@detailExpand]="submission === expandedSubmission ? 'expanded' : 'collapsed'"
                 class="submission-element-detail">
              提交记录详情
            </div>
          </td>
        </ng-container>
        <tr *matHeaderRowDef="columnsToDisplay" mat-header-row></tr>
        <tr *matRowDef="let submission; columns: columnsToDisplay"
            [class.submission-expanded-row]="expandedSubmission === submission"
            (click)="viewSubmissionReport(submission.getSubmissionId())"
            class="submission-element-row"
            mat-row></tr>
        <tr *matRowDef="let submission; columns: ['expandedDetail']" class="submission-detail-row" mat-row></tr>
      </table>
    </mat-card-content>
    <mat-paginator [length]="dataSource?.count" [pageSizeOptions]="[5, 10]" [pageSize]="10"
                   showFirstLastButtons></mat-paginator>
  </mat-card>
</div>
