
.assignment-info-card {
  flex: 1 1 auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.submissions-container {
  padding: 20px;
}

.hidden {
  display: none;
}

.assignment-edit-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.hidden {
  display: none;
}

.submission-operations {
  margin-bottom: 1em;
}
