<div class="submissions-container">
  <mat-card class="assignment-info-card">
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    <div [class.hidden]="loading" *ngIf="assignment$ | async as assignment">
      <div *ngIf="editMode">
        <app-assignment-edit-dialog
          (confirmed)="onAssignmentEditConfirmed()"
          (cancelled)="onAssignmentEditCancelled()"
          [assignmentId]="assignmentId"
          [assignment]="assignment"
        >
        </app-assignment-edit-dialog>
      </div>
      <div *ngIf="!editMode">
        <div *ngIf="canWriteCourse" class="assignment-edit-button">
          <mat-slide-toggle (change)="onAnonymousChanged($event)" [checked]="anonymous"
          >匿名排行
          </mat-slide-toggle>
          <button mat-icon-button (click)="onEditAssignmentClicked()">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <mat-card-title>
          {{ assignment.getName() }}
        </mat-card-title>
        <mat-card-subtitle>
          <p>#{{ assignmentId }}</p>
          <p>截止时间：{{ assignment.getDueDate()?.toDate() | date: 'YYYY-MM-dd HH:mm:ss' }}</p>
          <p *ngIf="assignment.getSubmissionLimit()?.getTotal()">
            提交次数限制：{{ assignment.getSubmissionLimit()?.getTotal() }} 次
          </p>
          <p *ngIf="assignment.getSubmissionLimit()?.getFrequency() && assignment.getSubmissionLimit()?.getPeriod()">
            提交频率限制：每 {{ assignment.getSubmissionLimit()?.getPeriod() }}
            分钟 {{ assignment.getSubmissionLimit()?.getFrequency() }} 次
          </p>
        </mat-card-subtitle>
        <mat-card-content>
          <div class="description">
            <markdown katex [katexOptions]="options" [data]="assignment.getDescription()"></markdown>
          </div>
        </mat-card-content>
      </div>
    </div>
  </mat-card>
  <h2>提交记录</h2>
  <mat-card>
    <mat-card-content>
      <app-submissions-table
        [showSubmit]="true"
        [canSubmit]="canSubmit"
        (submitClick)="openSubmissionDialog()"
        (submissionChange)="onSubmissionChanged($event)"
        [assignmentId]="assignmentId"
        [submissionsRefresher$]="submissionsRefresher$"
        [submissionLimit]="submissionLimit"
      ></app-submissions-table>
    </mat-card-content>
  </mat-card>
</div>
