<div ngClass="login-card-container">
    <mat-card>
        <mat-card-title i18n="login">登录</mat-card-title>
        <br />
        <p>
            <mat-form-field ngClass="login-form-control" appearance="standard">
                <mat-label i18n="username">用户名</mat-label>
                <input matInput i18n-placeholder="username" placeholder="用户名">
                <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field ngClass="login-form-control" appearance="standard">
                <mat-label i18n="password">密码</mat-label>
                <input matInput i18n-placeholder="password" placeholder="密码">
                <mat-icon matSuffix>password</mat-icon>
            </mat-form-field>
        </p>
        <p ngClass="login-button-container">
            <button mat-button color ngClass="login-button" i18n="forgot-password">忘记密码</button>
            <button mat-raised-button color="primary" ngClass="login-button" i18n="login">登录</button>
        </p>
    </mat-card>
    <br />
    <mat-card>
        <mat-card-title i18n="third-party-login">第三方登录</mat-card-title>
        <br />
        <p>
            <button mat-raised-button color ngClass="login-button" i18n="github-login">使用 GitHub 登录</button>
        </p>
    </mat-card>
</div>