<div class="login-card-container">
  <mat-card class="login-card">
    <mat-card-title i18n="login">登录</mat-card-title>
    <mat-card-content>
      <br/>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <p>
          <mat-form-field class="login-form-control" appearance="standard">
            <mat-label i18n="username">用户名</mat-label>
            <input matInput required i18n-placeholder="username" placeholder="用户名" formControlName="username">
            <mat-icon matSuffix>account_circle</mat-icon>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="login-form-control" appearance="standard">
            <mat-label i18n="password">密码</mat-label>
            <input matInput required i18n-placeholder="password" placeholder="密码" type="password"
                   formControlName="password">
            <mat-icon matSuffix>password</mat-icon>
            <mat-error *ngIf="errorMessage !== null">{{errorMessage}}</mat-error>
          </mat-form-field>
        </p>
        <p class="login-button-container">
          <button mat-button class="login-button" i18n="forgot-password">忘记密码</button>
          <span class="login-button-spacer"></span>
          <button mat-raised-button [disabled]="loggingIn" color="primary" type="submit">
            <span class="login-button" i18n="login" *ngIf="!loggingIn">登录</span>
            <span class="login-button" i18n="login" *ngIf="loggingIn">登录中</span>
          </button>
        </p>
      </form>
    </mat-card-content>
  </mat-card>
  <mat-card class="login-card">
    <mat-card-title i18n="third-party-login">第三方登录</mat-card-title>
    <mat-card-content>
      <br/>
      <p>
        <button mat-raised-button class="one-line-button" i18n="github-login">使用 GitHub 登录</button>
      </p>
    </mat-card-content>
  </mat-card>
</div>
