.login-card-container {
  display: grid;
  margin-right: auto;
  margin-left: auto;
  margin-top: 70px;
  width: 350px;
  flex-wrap: wrap;
}

.login-card {
  max-width: 350px;
  min-width: 100px;
  margin-bottom: 20px;
}

.login-form-control {
  width: 100%;
}

.login-button-spacer {
  flex: 1 1 auto;
}

.login-button-container {
  display: flex;
}

.one-line-button {
  width: 100%;
}
