<h2>加入课程</h2>
<mat-dialog-content>
  <form class="course-join-form">
    <mat-form-field>
      <mat-label>加课码</mat-label>
      <input [formControl]="invitationCode" matInput type="text" />
      <button
        (click)="invitationCode.setValue('')"
        *ngIf="invitationCode.value"
        mat-icon-button
        matSuffix
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button (click)="onCancelClicked()" mat-flat-button>取消</button>
  <button (click)="onConfirmClicked()" [disabled]="!invitationCode.value || joining" color="primary" mat-raised-button>
    加入
  </button>
</mat-dialog-actions>
