.sign-up-card-container {
  display: grid;
  margin-right: auto;
  margin-left: auto;
  margin-top: 80px;
  width: 350px;
  flex-wrap: wrap;
}

.sign-up-card {
  max-width: 350px;
  min-width: 100px;
  margin-bottom: 20px;
}

.full-width-field {
  width: 100%;
}

.code-input {
  flex-direction: row;
  display: flex;
  align-items: center;
}

.code-input .code {
  flex: 1 1 auto;
}

.code-input .send-code {
  flex: 1 1 auto;
  margin-left: 10px;
}

.buttons-container {
  display: flex;
  margin-top: 1em;
}

.buttons-spacer {
  flex: 1 1 auto;
}
