<div class="assignment-page-container">
  <mat-toolbar color="primary">作业详情 (#{{ assignmentId$ | async }})</mat-toolbar>
  <div class="sidenav-body-content">
    <div class="sidenav-body-inner">
      <div class="sidenav-nav">
        <div class="sidenav-container">
          <mat-nav-list>
            <a mat-list-item routerLink="submissions">
              <mat-icon>list</mat-icon>
              &nbsp;提交记录</a
            >
            <a *ngIf="hasLeaderboard$ | async" mat-list-item routerLink="leaderboard">
              <mat-icon>leaderboard</mat-icon>
              &nbsp;排行榜</a
            >
            <a *ngIf="canWriteCourse$ | async" mat-list-item routerLink="inspection">
              <mat-icon>group</mat-icon>
              &nbsp;查看所有提交</a
            >
            <a mat-list-item routerLink="../..">
              <mat-icon>arrow_back</mat-icon>
              &nbsp;回到作业列表</a
            >
          </mat-nav-list>
        </div>
      </div>
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
