.sidenav-nav {
  border-right: rgba(0, 0, 0, 0.2) 1px solid;
  position: sticky;
  top: 0;
  height: calc(100vh - 64px);
}

.sidenav-container {
  width: 240px;
  overflow: auto;
}

.sidenav-content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.sidenav-body-inner {
  display: flex;
  flex: 1;
}

.sidenav-body-content {
  display: flex;
  flex: 1 1 auto;
}

.main-content {
  position: relative;
  min-height: 500px;
}

.container {
  width: 100%;
}

.assignment-page-container {
  width: 100%;
}
