<mat-dialog-content>
  <mat-stepper linear="true">
    <mat-step #stepper>
      <ng-template matStepLabel>选择作业类型</ng-template>
      <form>
        <mat-form-field>
          <mat-label>作业类型</mat-label>
          <mat-select [(value)]="assignmentType">
            <mat-option value="programming">编程作业</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <button color="primary" mat-raised-button matStepperNext>下一步</button>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>设置作业信息</ng-template>
      <form [formGroup]="programmingAssignmentForm" class="config-form">
        <mat-form-field>
          <mat-label>作业名称</mat-label>
          <input formControlName="name" matInput name="name" required type="text">
        </mat-form-field>
        <app-datetime-picker formControlName="releaseDate" label="开始时间"></app-datetime-picker>
        <app-datetime-picker formControlName="dueDate" label="截止时间"></app-datetime-picker>
        <mat-form-field>
          <mat-label>Docker 镜像</mat-label>
          <input formControlName="dockerImage" matInput name="dockerImage" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>作业描述</mat-label>
          <textarea formControlName="description" matInput name="description"></textarea>
        </mat-form-field>
      </form>
      <button mat-button matStepperPrevious>上一步</button>
      <button [disabled]="!programmingAssignmentForm.valid" color="primary" mat-raised-button matStepperNext>下一步
      </button>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>确认作业信息</ng-template>
      <p>作业类型：{{assignmentType}}</p>
      <p>作业名称：{{programmingAssignmentForm.value.name}}</p>
      <p>开始时间：{{programmingAssignmentForm.value.releaseDate.toJSDate() | date:"YYYY-MM-dd HH:mm"}}</p>
      <p>截止时间：{{programmingAssignmentForm.value.dueDate.toJSDate() | date:"YYYY-MM-dd HH:mm"}}</p>
      <p>Docker 镜像：{{programmingAssignmentForm.value.dockerImage}}</p>
      <p>作业描述：{{programmingAssignmentForm.value.description}}</p>
      <button mat-button matStepperPrevious>上一步</button>
      <button (click)="onConfirmClicked()" [disabled]="!programmingAssignmentForm.valid" color="primary"
              mat-raised-button>确认
      </button>
    </mat-step>
  </mat-stepper>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button (click)="onCancelClicked()" mat-button>取消</button>
</mat-dialog-actions>
