.assignments-container {
  padding: 20px;
}

.assignment-table-card {
  flex: 1 1 auto;
}

.course-info-card {
  flex: 1 1 auto;
  margin-bottom: 20px;
}

.full-width-table {
  width: 100%;
}

.course-edit-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.assignment-operations {
  margin-bottom: 10px;
}
