<div class="assignments-container">
  <div>
    <mat-card class="course-info-card">
      <div *ngIf="course$ | async as course; else progressBar">
        <mat-card-title>
          {{course.getName()}}
          <button mat-icon-button (click)="onEditCourseClicked()" class="course-edit-button">
            <mat-icon>edit</mat-icon>
          </button>
        </mat-card-title>
        <mat-card-subtitle>
          #{{courseId}}
        </mat-card-subtitle>
        <mat-card-content>
          {{course.getDescription()}}
        </mat-card-content>
      </div>
      <ng-template #progressBar>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </ng-template>
    </mat-card>
    <mat-card class="assignment-table-card">
      <button mat-raised-button (click)="onAddAssignmentClicked()">
        <mat-icon>add</mat-icon>
        &nbsp;添加作业
      </button>
      <table aria-label="Elements" class="full-width-table" mat-table matSort>
        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>ID</th>
          <td *matCellDef="let row" mat-cell>{{row.getAssignmentId()}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>名称</th>
          <td *matCellDef="let row" mat-cell>{{row.getName()}}</td>
        </ng-container>

        <ng-container matColumnDef="submitted">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>已提交</th>
          <td *matCellDef="let row" mat-cell>
            <mat-icon *ngIf="row.getSubmitted()">done</mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="releaseDate">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>开始时间</th>
          <td *matCellDef="let row" mat-cell>{{row.getReleaseDate().toDate() | date:"YYYY-MM-dd HH:mm"}}</td>
        </ng-container>

        <ng-container matColumnDef="dueDate">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>截止时间</th>
          <td *matCellDef="let row" mat-cell>{{row.getDueDate().toDate() | date:"YYYY-MM-dd HH:mm"}}</td>
        </ng-container>

        <ng-container matColumnDef="operations">
          <th *matHeaderCellDef mat-header-cell>操作</th>
          <td *matCellDef="let row" mat-cell>
            <button mat-icon-button (click)="onEditAssignmentClicked($event)">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr (click)="gotoAssignment(row.getAssignmentId())" *matRowDef="let row; columns: displayedColumns;"
            class="assignment-row"
            mat-row></tr>
      </table>

      <mat-paginator #paginator
                     [length]="dataSource?.dataLength"
                     [pageIndex]="0"
                     [pageSizeOptions]="[5, 10, 20]"
                     [pageSize]="10"
                     showFirstLastButtons
                     aria-label="Select page">
      </mat-paginator>
    </mat-card>
  </div>
</div>
