<h1 mat-dialog-title>创建提交</h1>
<button mat-flat-button color="primary" (click)="fileInput.click()">浏览</button>
<input style="display: none;" type="file" #fileInput id="uploadFile" (change)="uploadFileEvent($event)"
       name="uploadFile"/>
{{ this.uploaded }} / {{ this.total }}
<mat-dialog-content style="max-width: 60vw; min-width: 40vw;">
  <app-files-table [uploadEntries]="uploadEntries$"></app-files-table>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancelClicked()">取消</button>
  <button mat-raised-button color="primary" (click)="onSubmitClicked()"
          [disabled]="!manifestId || total == 0 || total != uploaded">
    提交
  </button>
</mat-dialog-actions>
