<form [formGroup]="courseForm" class="course-edit-form">
  <mat-form-field>
    <mat-label>课程名称</mat-label>
    <input formControlName="name" matInput required />
    <mat-error *ngIf="courseForm.get('name')?.invalid"> 请输入课程名称</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>课程号</mat-label>
    <input formControlName="shortName" matInput required />
    <mat-error *ngIf="courseForm.get('shortName')?.invalid"> 请输入课程代码</mat-error>
  </mat-form-field>
  <div style="margin-top: 10px"></div>
  <app-markdown-editor formControlName="description"></app-markdown-editor>
</form>
