<h2>添加作业</h2>
<mat-dialog-content>
  <mat-stepper linear="true" class="stepper-container">
    <mat-step #stepper>
      <ng-template matStepLabel>选择作业类型</ng-template>
      <form>
        <mat-form-field>
          <mat-label>作业类型</mat-label>
          <mat-select [(value)]="assignmentType">
            <mat-option value="programming">编程作业</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <button color="primary" mat-raised-button matStepperNext>下一步</button>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>设置作业信息</ng-template>
      <app-assignment-form
        [(tags)]="tags"
        [submissionLimitConfig]="submissionLimitForm"
        [formGroup]="programmingAssignmentForm"
      ></app-assignment-form>
      <div style="margin-top: 10px"></div>
      <button mat-button matStepperPrevious>上一步</button>
      <button
        (click)="onConfirmClicked()"
        [disabled]="!programmingAssignmentForm.valid || loading"
        color="primary"
        mat-raised-button
      >
        确认
      </button>
    </mat-step>
  </mat-stepper>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button (click)="onCancelClicked()" mat-button>取消</button>
</mat-dialog-actions>
