<h2 mat-dialog-title>创建提交</h2>
<div
  (click)="fileInput.click()"
  (dragover)="onDragOver($event)"
  (drop)="onDrop($event)"
  class="drop-area"
>
  单击此处或拖放文件到此以上传（.zip 文件将自动解压缩）
</div>
<input
  #fileInput
  (input)="uploadFileEvent($event)"
  id="uploadFile"
  multiple
  name="uploadFile"
  style="display: none"
  type="file"
/>
<p class="counter">已上传/出错/总计 {{ this.uploaded }} / {{ this.errored }} / {{ this.total }}</p>
<p>
  提交大小 / 限制 {{ this.totalSize | filesize }} / {{ this.uploadLimit | filesize }}
</p>
<mat-dialog-content style="max-width: 60vw; min-width: 40vw; max-height: 40vh">
  <app-files-table
    (fileDelete)="onFileDelete($event)"
    [paginator]="paginator"
    [uploadEntries]="uploadEntries$"
  ></app-files-table>
</mat-dialog-content>
<mat-paginator
  #paginator
  [length]="total"
  [pageIndex]="0"
  [pageSizeOptions]="[50, 100]"
  [pageSize]="100"
  aria-label="Select page"
  showFirstLastButtons
>
</mat-paginator>

<mat-dialog-actions align="end">
  <button (click)="onCancelClicked()" mat-button>取消</button>
  <button
    (click)="onSubmitClicked()"
    [disabled]="loading || !manifestId || !total || total !== uploaded"
    color="primary"
    mat-raised-button
  >
    提交
  </button>
</mat-dialog-actions>
