.drop-area-container {
  display: flex;
}

.upload-button {
  flex: 1 1 auto;
  text-align: center;
  margin: 10px;
}

.drop-area {
  flex: 1 1 auto;
  text-align: center;
  height: 5em;
  border: 2px dashed rgba(0, 0, 0, 0.25);
}

.drop-area-text {
  margin-top: 1em;
}

.counter {
  margin-top: 1em;
}

.drop-area:hover {
  cursor: pointer;
}
