<div class="password-reset-card-container">
  <mat-card class="password-reset-card">
    <mat-card-title>重置密码</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()" [formGroup]="resetForm">
        <mat-form-field class="full-width-field">
          <mat-label> 电子邮箱</mat-label>
          <input formControlName="email" matInput required type="email" />
          <mat-error *ngIf="resetForm.get('email')?.invalid">
            <span *ngIf="resetForm.get('email')?.hasError('required')"> 请输入 Email 地址 </span>
            <span *ngIf="resetForm.get('email')?.hasError('email')"> Email 地址无效 </span>
            <span *ngIf="resetForm.get('email')?.hasError('invalid')"> Email 地址无效 </span>
          </mat-error>
        </mat-form-field>
        <div class="code-input">
          <mat-form-field class="code">
            <mat-label> 验证码</mat-label>
            <input autocomplete="off" formControlName="code" matInput required />
            <mat-error *ngIf="resetForm.get('code')?.invalid">
              <span *ngIf="resetForm.get('code')?.hasError('required')"> 请输入验证码 </span>
              <span *ngIf="resetForm.get('code')?.hasError('pattern')">
                验证码无效，应为 6 位数字
              </span>
              <span *ngIf="resetForm.get('code')?.hasError('invalid')">
                验证码无效，请重新发送验证码
              </span>
            </mat-error>
          </mat-form-field>
          <button
            (click)="$event.preventDefault()"
            (error)="onError($event)"
            (expired)="onExpired($event)"
            (verify)="onVerify($event)"
            [disabled]="
              resetForm.get('email')?.invalid || requestCodeCounter !== 0 || requestingCode
            "
            class="send-code"
            mat-raised-button
            ngHcaptchaInvisibleButton
          >
            <span *ngIf="!requestingCode">
              发送验证码<span *ngIf="requestCodeCounter"> ({{ requestCodeCounter }})</span>
            </span>
            <span *ngIf="requestingCode">发送中</span>
          </button>
        </div>
        <mat-form-field class="full-width-field">
          <mat-label> 新密码</mat-label>
          <input
            autocomplete="new-password"
            formControlName="password"
            matInput
            required
            type="password"
          />
          <mat-error *ngIf="resetForm.get('password')?.invalid">
            <span *ngIf="resetForm.get('password')?.hasError('required')"> 请输入密码 </span>
            <span *ngIf="resetForm.get('password')?.hasError('length')">
              密码太短，长度至少为 8 个字符
            </span>
            <span *ngIf="resetForm.get('password')?.hasError('invalid')">
              密码无效，长度至少为 8 个字符
            </span></mat-error
          >
        </mat-form-field>
        <p class="buttons-container">
          <a [routerLink]="['/', 'login']" mat-button>返回登录页面</a>
          <span class="buttons-spacer"></span>
          <button [disabled]="!resetForm.valid || resetting" color="primary" mat-raised-button>
            重置密码
          </button>
        </p>
      </form>
    </mat-card-content>
  </mat-card>
</div>
