<div class="password-reset-card-container">
  <mat-card class="password-reset-card">
    <mat-card-title>重置密码</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()" [formGroup]="resetForm">
        <mat-form-field class="full-width-field">
          <mat-label>
            电子邮箱
          </mat-label>
          <input matInput type="email" required formControlName="email">
          <mat-error *ngIf="resetForm.get('email')?.invalid">
            请输入有效的电子邮箱地址
          </mat-error>
        </mat-form-field>
        <div class="code-input">
          <mat-form-field class="code">
            <mat-label>
              验证码
            </mat-label>
            <input matInput required formControlName="code">
            <mat-error *ngIf="resetForm.get('code')?.invalid">
              请输入有效的验证码
            </mat-error>
          </mat-form-field>
          <button [disabled]="resetForm.get('email')?.invalid || requestCodeCounter != 0 || requestingCode" class="send-code" mat-raised-button
                  (click)="onRequestCodeClicked($event)">
            <span *ngIf="!requestingCode">
              发送验证码<span *ngIf="requestCodeCounter"> ({{requestCodeCounter}})</span>
            </span>
            <span *ngIf="requestingCode">发送中</span>
          </button>
        </div>
        <mat-form-field class="full-width-field">
          <mat-label>
            新密码
          </mat-label>
          <input formControlName="password" matInput required type="password">
          <mat-error *ngIf="resetForm.get('password')?.invalid">
            请输入新密码
          </mat-error>
        </mat-form-field>
        <button style="margin-top: 10px;" [disabled]="!resetForm.valid || resetting" mat-raised-button color="primary" class="full-width-field">重置密码</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
