<div class="leaderboard-container">
  <h2>排行榜</h2>
  <div style="display: flex; align-items: center">
    <div style="display: flex; align-items: center" *ngIf="exportEnabled">
      <button (click)="onExportClicked()" mat-raised-button>
        <mat-icon>download</mat-icon>
        导出排行榜
      </button>
      &nbsp;
      <button
        [disabled]="exportingSubmissions > 0"
        (click)="onExportSubmissionsClicked()"
        mat-flat-button
      >
        <mat-icon>cloud_download</mat-icon>
        导出排行榜提交
      </button>
      &nbsp;
      <div *ngIf="exportingSubmissions" style="display: flex; flex-direction: column; width: 8em">
        导出中（{{ exportedSubmissions }} / {{ exportingSubmissions }}）
        <mat-progress-bar
          mode="determinate"
          [value]="(exportedSubmissions / exportingSubmissions) * 100"
        ></mat-progress-bar>
      </div>
      <button *ngIf="exportingSubmissions" (click)="onCancelExportClicked()" mat-flat-button>
        <mat-icon>cancel</mat-icon>
        取消导出
      </button>
    </div>
    <span style="flex: 1 1 auto"></span>
    <form *ngIf="!searchDisabled">
      <mat-form-field>
        <mat-label>搜索</mat-label>
        <input [formControl]="searchFormControl" matInput name="search" />
        <button
          (click)="searchFormControl.setValue('')"
          *ngIf="searchFormControl.value"
          mat-icon-button
          matSuffix
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <button mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
    </form>
  </div>
  <div class="leaderboard-tab-container mat-elevation-z1">
    <table aria-label="Elements" class="full-width-table" mat-table matSort>
      <ng-container matColumnDef="rank">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>名次</th>
        <td *matCellDef="let row; index as i" mat-cell>{{ row.rank }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="nickname">
        <th *matHeaderCellDef mat-header-cell>昵称</th>
        <td *matCellDef="let row" mat-cell>{{ row.nickname }}</td>
      </ng-container>

      <ng-container *ngFor="let column of columns" [matColumnDef]="column">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ column }}</th>
        <td *matCellDef="let row" mat-cell>
          <span *ngIf="row.items[column].value.hasNumberValue()">
            {{ row.items[column].value.getNumberValue() }}
          </span>
          <span *ngIf="row.items[column].value.hasStringValue()">
            {{ row.items[column].value.getStringValue() }}
          </span>
          &nbsp;{{ row.items[column].suffix }}
        </td>
      </ng-container>

      <ng-container matColumnDef="submittedAt">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>提交时间</th>
        <td *matCellDef="let row" mat-cell>{{ row.submittedAt | date: 'YYYY-MM-dd HH:mm:ss' }}</td>
      </ng-container>

      <ng-container matColumnDef="studentId">
        <th *matHeaderCellDef mat-header-cell>学号</th>
        <td *matCellDef="let row" mat-cell>{{ row.studentId }}</td>
      </ng-container>

      <ng-container matColumnDef="username">
        <th *matHeaderCellDef mat-header-cell>用户名</th>
        <td *matCellDef="let row" mat-cell>{{ row.username }}</td>
      </ng-container>

      <ng-container matColumnDef="operations">
        <th *matHeaderCellDef mat-header-cell>操作</th>
        <td *matCellDef="let row" mat-cell>
          <button
            (click)="onDeleteLeaderboardClicked(row.userId)"
            mat-icon-button
            matTooltip="撤销成绩"
          >
            <mat-icon>cancel</mat-icon>
          </button>
          <button
            (click)="onDownloadSubmissionClicked(row.submissionId)"
            mat-icon-button
            matTooltip="下载提交"
          >
            <mat-icon>download</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr
        *matHeaderRowDef="
          displayedColumns
            .concat(userColumns || [])
            .concat(columns || [])
            .concat(exportEnabled ? ['operations'] : [])
        "
        mat-header-row
      ></tr>
      <tr
        [class.is-self]="row.isSelf"
        *matRowDef="
          let row;
          index as i;
          columns: displayedColumns
            .concat(userColumns || [])
            .concat(columns || [])
            .concat(exportEnabled ? ['operations'] : [])
        "
        mat-row
      ></tr>
    </table>
    <mat-paginator
      #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSizeOptions]="[5, 10, 20]"
      [pageSize]="10"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</div>
