<div class="course-page-container">
  <mat-toolbar color="primary">课程详情 (#{{courseId$ | async}})</mat-toolbar>
  <div class="sidenav-body-content">
    <div class="sidenav-body-inner">
      <div class="sidenav-nav">
        <div class="sidenav-container">
          <mat-nav-list>
            <a mat-list-item routerLink="assignments">
              <mat-icon>list</mat-icon>
              &nbsp;作业列表</a>
            <a mat-list-item routerLink="members">
              <mat-icon>people</mat-icon>
              &nbsp;课程成员</a>
            <a mat-list-item routerLink="../">
              <mat-icon>dashboard</mat-icon>
              &nbsp;回到课程列表</a>
          </mat-nav-list>
        </div>
      </div>
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
