.assignment-table-card {
  width: 100%;
  flex: 1 1 auto;
}

.full-width-table {
  width: 100%;
}

.course-info-card {
  width: 100%;
  flex: 1 1 auto;
  margin-bottom: 20px;
}

.course-page-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
