<mat-form-field *ngIf="formField" class="role-form-field">
  <mat-label *ngIf="label">
    {{ label }}
  </mat-label>
  <mat-select (selectionChange)="onRoleChange($event)" [disabled]="disabled" [value]="role">
    <mat-option *ngFor="let role of roles" [value]="role">
      {{ mapRoleToString(role) }}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-select (selectionChange)="onRoleChange($event)" [disabled]="disabled" *ngIf="!formField" [value]="role">
  <mat-option *ngFor="let role of roles" [value]="role">
    {{ mapRoleToString(role) }}
  </mat-option>
</mat-select>
