<h2>提交文件</h2>
<div class="files-tab-container">
  <div class="sidenav-body-content">
    <div class="sidenav-body-inner">
      <div class="sidenav-nav">
        <div class="sidenav-container">
          <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
            <mat-tree-node *matTreeNodeDef="let node" class="clickable" matTreeNodeToggle matTreeNodePadding (click)="treeNodeClicked(node)">
              <button mat-icon-button disabled></button>
              <mat-icon class="type-icon" [attr.aria-label]="node.type + 'icon'">
                {{ node.type === 'file' ? 'description' : 'folder' }}
              </mat-icon>
              {{node.name}}
            </mat-tree-node>

            <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
              <button mat-icon-button matTreeNodeToggle
                      [attr.aria-label]="'Toggle ' + node.name">
                <mat-icon class="mat-icon-rtl-mirror">
                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>
              <mat-icon class="type-icon" [attr.aria-label]="node.type + 'icon'">
                {{ node.type === 'file' ? 'description' : 'folder' }}
              </mat-icon>
              {{node.name}}
            </mat-tree-node>
          </mat-tree>
        </div>
      </div>
      <div class="file-preview-container">
        <code><pre>Lorem ipsum</pre></code>
      </div>
    </div>
  </div>
</div>
