<div class="leaderboard-container">
  <h2>排行榜</h2>
  <div class="leaderboard-tab-container mat-elevation-z1">
    <table aria-label="Elements" class="full-width-table" mat-table matSort>
      <!-- Id Column -->
      <ng-container matColumnDef="rank">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Rank</th>
        <td *matCellDef="let row" mat-cell>{{ row.rank }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>昵称</th>
        <td *matCellDef="let row" mat-cell>{{ row.name }}</td>
      </ng-container>

      <ng-container *ngFor="let column of columns$ | async" [matColumnDef]="column">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ column }}</th>
        <td *matCellDef="let row" mat-cell>
          <span *ngIf="row.items[column].value.hasNumberValue()">
            {{ row.items[column].value.getNumberValue() }}
          </span>
          <span *ngIf="row.items[column].value.hasStringValue()">
            {{ row.items[column].value.getStringValue() }}
          </span>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns.concat((columns$ | async) || [])" mat-header-row></tr>
      <tr
        *matRowDef="let row; columns: displayedColumns.concat((columns$ | async) || [])"
        mat-row
      ></tr>
    </table>
    <mat-paginator
      #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSizeOptions]="[5, 10, 20]"
      [pageSize]="10"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</div>
