<h2>创建课程</h2>
<mat-dialog-content>
  <form [formGroup]="courseForm" class="course-create-form">
    <mat-form-field>
      <mat-label>课程名称</mat-label>
      <input formControlName="name" matInput required />
      <mat-error *ngIf="courseForm.get('name')?.invalid"> 请输入课程名称 </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>课程号</mat-label>
      <input formControlName="shortName" matInput required />
      <mat-error *ngIf="courseForm.get('shortName')?.invalid"> 请输入课程代码 </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>课程描述</mat-label>
      <textarea formControlName="description" matInput required></textarea>
      <mat-error *ngIf="courseForm.get('description')?.invalid"> 请输入课程描述 </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button (click)="onCancelClicked()" mat-flat-button>取消</button>
  <button
    (click)="onCreateClicked()"
    [disabled]="courseForm.invalid"
    color="primary"
    mat-raised-button
  >
    确定
  </button>
</mat-dialog-actions>
