<div class="container">
  <mat-toolbar color="primary">提交详情 (#{{submissionId$ | async}})</mat-toolbar>
  <div class="sidenav-body-content">
    <div class="sidenav-body-inner">
      <div class="sidenav-nav">
        <div class="sidenav-container">
          <mat-nav-list>
            <a mat-list-item routerLink="report">
              <mat-icon>assessment</mat-icon>
              &nbsp;测试报告</a>
            <a mat-list-item routerLink="files">
              <mat-icon>folder</mat-icon>
              &nbsp;提交文件</a>
            <a mat-list-item routerLink="../..">
              <mat-icon>arrow_back</mat-icon>
              &nbsp;回到作业详情</a>
            <a mat-list-item routerLink="../../..">
              <mat-icon>arrow_back</mat-icon>
              &nbsp;回到课程页面</a>
          </mat-nav-list>
        </div>
      </div>

      <div class="submission-report-container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
