.type-icon {
  color: #757575;
  margin-right: 5px;
}

.tab-container {
  margin-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: flex-start;
  overflow: visible;
}

.files-tab-container {
  margin-top: 10px;
  padding-bottom: 10px;
  display: flex;
}

.leaderboard-tab-container {
  margin-top: 10px;
  padding: 10px;
  display: flex;
  overflow: auto;
}

.testcase-accordion {
  width: 80%;
  flex-grow: 1;
}

.testcase-list {
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  align-self: flex-start;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
}

.submission-report-container {
  margin: 10px;
}

.testcase-output {
  max-height: 30em;
  overflow-x: auto;
}

.red-font {
  color: #FF0000;
}

.green-font {
  color: #00CC00;
}
