.type-icon {
  color: #757575;
  margin-right: 5px;
}

.submission-report-container {
  padding: 20px 50px;
  width: calc(100% - 241px);
}

.sidenav-nav {
  position: sticky;
  top: 0;
  height: calc(100vh - 64px);
}

.sidenav-container {
  width: 240px;
  overflow: auto;
}

.sidenav-content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.sidenav-body-inner {
  display: flex;
  flex: 1;
}

.sidenav-body-content {
  display: flex;
  flex: 1 1 auto;
}

.main-content {
  position: relative;
  min-height: 500px;
}

.submission-page {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex: 1;
}
