<div style="margin-left: 10px; margin-right: 10px; display: flex; align-items: center">
  <span style="flex: 1 1 auto"></span>
  <form>
    <mat-form-field>
      <mat-label>搜索</mat-label>
      <input [formControl]="searchFormControl" matInput name="search" />
      <button
        (click)="searchFormControl.setValue('')"
        *ngIf="searchFormControl.value"
        mat-icon-button
        matSuffix
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
  </form>
</div>
<div class="mat-elevation-z1" style="margin: 10px">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>用户 ID</th>
      <td mat-cell *matCellDef="let row">{{ row.getUserId() }}</td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>用户名</th>
      <td mat-cell *matCellDef="let row">{{ row.getUser().getUsername() }}</td>
    </ng-container>

    <ng-container matColumnDef="nickname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>昵称</th>
      <td mat-cell *matCellDef="let row">{{ row.getUser().getNickname() }}</td>
    </ng-container>

    <ng-container matColumnDef="studentId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>学号</th>
      <td mat-cell *matCellDef="let row">{{ row.getUser().getStudentId() }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>邮箱</th>
      <td mat-cell *matCellDef="let row">{{ row.getUser().getEmail() }}</td>
    </ng-container>

    <ng-container matColumnDef="githubId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>GitHub ID</th>
      <td mat-cell *matCellDef="let row">{{ row.getUser().getGithubId() }}</td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>注册时间</th>
      <td mat-cell *matCellDef="let row">
        {{ row.getUser().getCreatedAt().toDate() | date: 'YYYY-MM-dd HH:mm:ss' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="isAdmin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>管理员权限</th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox
          [disabled]="row.getUserId() === 1 || row.getUserId() === userId"
          [checked]="row.getUser().getIsAdmin()"
          (change)="onIsAdminChange($event, row.getUserId())"
        >
        </mat-checkbox>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    #paginator
    [length]="dataSource?.data?.length"
    [pageIndex]="0"
    [pageSize]="20"
    [pageSizeOptions]="[5, 10, 20, 50, 100]"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
