<form [formGroup]="formGroup" class="config-form">
  <mat-form-field>
    <mat-label>作业名称</mat-label>
    <input formControlName="name" matInput name="name" required type="text" />
  </mat-form-field>
  <app-datetime-picker formControlName="releaseDate" label="开始时间"></app-datetime-picker>
  <app-datetime-picker
    [error]="formGroup.get('dueDate')?.hasError('before') ? '截止时间不能早于开始时间' : ''"
    formControlName="dueDate"
    label="截止时间"
  ></app-datetime-picker>
  <form [formGroup]="submissionLimitConfig">
    <p>
      <mat-form-field style="width: 8em">
        <mat-label>提交次数限制</mat-label>
        <input matInput formControlName="total" name="total" type="number" />
        <mat-hint>0 为不限制</mat-hint>
        <span matSuffix>次</span>
      </mat-form-field>
    </p>

    <mat-form-field style="width: 8em">
      <mat-label>提交频率限制</mat-label>
      <input matInput formControlName="period" name="period" type="number" />
      <span matSuffix>分钟</span>
    </mat-form-field>
    &nbsp;
    <mat-form-field style="width: 7em">
      <input matInput formControlName="frequency" name="frequency" type="number" />
      <span matSuffix>次</span>
    </mat-form-field>
  </form>
  <mat-form-field style="width: 8em" matTooltip="一次提交最多允许上传的总大小（最小 1，最大 8192）">
    <mat-label> 提交大小限制 </mat-label>
    <input formControlName="uploadLimit" type="number" matInput />
    <span matSuffix>KB</span>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Docker 镜像</mat-label>
    <input formControlName="dockerImage" matInput name="dockerImage" required />
    <mat-hint
      ><a
        href="https://autograder-docs.howardlau.me/user-guide/docker-image-specification/"
        target="_blank"
        >Docker 镜像构建指引</a
      ></mat-hint
    >
  </mat-form-field>
  <mat-form-field>
    <mat-label>运行标签</mat-label>
    <mat-chip-list #tagsList>
      <mat-chip *ngFor="let tag of tags" (removed)="removeTag(tag)">
        {{ tag }}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
    </mat-chip-list>
    <input
      [matChipInputFor]="tagsList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur"
      (matChipInputTokenEnd)="addTag($event)"
    />
    <mat-hint
      >指定运行标签，例如
      <mat-chip>docker</mat-chip>
      <mat-chip>arm64</mat-chip>
      等，所有标签都匹配的评测机才会运行
    </mat-hint>
  </mat-form-field>
  <mat-form-field>
    <mat-label>CPU 限制</mat-label>
    <input formControlName="cpu" matInput type="number" name="cpu" required />
    <mat-hint>运行最多使用的 CPU 数</mat-hint>
  </mat-form-field>
  <mat-form-field style="width: 6em" matTooltip="设置运行最多可使用的内存（最小 128，最大 65536）">
    <mat-label>内存限制</mat-label>
    <input formControlName="memory" matInput type="number" name="memory" required />
    <span matSuffix>MB</span>
  </mat-form-field>
  <mat-form-field style="width: 6em" matTooltip="设置最多可运行的时间（最小 1，最大 6000）">
    <mat-label>超时</mat-label>
    <input formControlName="timeout" matInput type="number" name="timeout" required />
    <span matSuffix>秒</span>
  </mat-form-field>
  <div style="margin-top: 10px"></div>
  <app-markdown-editor formControlName="description"></app-markdown-editor>
</form>
