<table aria-label="" class="full-width-table" mat-table matSort>
  <ng-container matColumnDef="filename">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>文件名</th>
    <td *matCellDef="let row" mat-cell>{{ row.filename }}</td>
  </ng-container>

  <ng-container matColumnDef="filesize">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>文件大小</th>
    <td *matCellDef="let row" mat-cell>{{ row.filesize | filesize }}</td>
  </ng-container>

  <ng-container matColumnDef="progress">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>上传进度</th>
    <td *matCellDef="let row" mat-cell>
      <mat-progress-bar
        *ngIf="row.uploading && !row.error"
        [mode]="row.progressBarMode"
        [value]="row.uploadProgress"
      ></mat-progress-bar>
      <mat-icon *ngIf="row.uploaded">done</mat-icon>
      <span *ngIf="row.error" style="color: #cc0000">
        <span [ngSwitch]="row.error">
          <span *ngSwitchCase="'GET_SIZE'">获取提交大小失败</span>
          <span *ngSwitchCase="'NO_SPACE'">大小超出限制</span>
          <span *ngSwitchDefault>{{ row.error }}</span>
        </span>
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="operations">
    <th *matHeaderCellDef mat-header-cell>操作</th>
    <td *matCellDef="let row" mat-cell>
      <button (click)="onDeleteClicked(row.filename)" mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
</table>
