<div class="grid-container">
  <h1>我的课程</h1>
  <div class="card-tile">
    <mat-card *ngFor="let card of cards$ | async" class="dashboard-card">
      <mat-card-title>
        {{card.getName()}}
        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="after">
          <button mat-menu-item>Expand</button>
          <button mat-menu-item>Remove</button>
        </mat-menu>
      </mat-card-title>
      <mat-card-content class="dashboard-card-content">
        <div>Content</div>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button (click)="gotoCourse(card.getCourseId())">进入</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
