<div class="grid-container">
  <mat-toolbar color="primary">课程列表</mat-toolbar>
  <div class="buttons">
    <button (click)="joinCourse()" color="primary" mat-raised-button>加入课程</button>
    <button *ngIf="showCreateCourse" (click)="createCourse()" mat-flat-button>
      <mat-icon>add</mat-icon>
      创建课程
    </button>
  </div>
  <div class="card-tile">
    <mat-spinner *ngIf="loading"></mat-spinner>
    <mat-card *ngFor="let card of cards$ | async" class="dashboard-card">
      <mat-card-title>
        {{ card.getName() }}
      </mat-card-title>
      <mat-card-content class="dashboard-card-content">
        <div>{{ card.getShortName() }}</div>
      </mat-card-content>
      <mat-card-actions align="end">
        <a [routerLink]="['/courses', card.getCourseId()]" mat-button>进入</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
