.grid-container {
  margin: 20px;
}

.card-tile {
  display: flex;
  flex-wrap: wrap;
}

.dashboard-card {
  flex: 0 1 auto;
  width: 300px;
  margin: 5px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}
