.grid-container {
  width: 100%;
}

.buttons {
  padding-top: 15px;
  padding-left: 20px;
}

.card-tile {
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
  padding-left: 15px;
}

.dashboard-card {
  flex: 0 1 auto;
  width: 300px;
  margin: 5px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}
